/*-----------------------------------------------
  Border Box
*/-----------------------------------------------

html {
  box-sizing: border-box;
  font: normal 100%/1.3 "NeueHaasGrotesk Light", sans-serif;
}


*, *::before, *::after {
  box-sizing: inherit;
}
