/*-----------------------------------------------
  Border Box
*/-----------------------------------------------

html {
  box-sizing: border-box;
}


*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font: 16px/22px "NeueHaasGrotesk Light", sans-serif;
}
